body {
	background: #1C1C1C;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	color: white;
}

#topnav {
	position: absolute;
	top: 3px;
	right: 10px;
	background: #1C1C1C;
	float: right;
}

#loginform {
	float: left;
}

#head {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

a {
	color: white;
	font-family:Arial,Helvetica,sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#videos ul {
	margin: 5px;
	padding: 0;
	position: relative;
}

#videos {
	display: block;
	position: relative;
	float: left;
}

#navigation li, #videos li {
	float: left;
	list-style: none;
	cursor: pointer;
	color: white;
	text-shadow: none;
}

#navigation {
	background-color: #C70021;
	height: 26px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C70021', endColorstr='#780014'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#C70021), to(#780014)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #C70021,  #780014); /* for firefox 3.6+ */
}

#navigation li {
	margin-top: 4px;
}

#navigation li a {
	padding: 5px;
}

#navigation li:hover a, .actual {
	background-color: #780014;
	text-decoration: none;
}

#navigation select {
	margin-top: 2px;
	float: right;
	margin-right: 4px;
}

.title {
	display: none;
	color: black;
	height: 16px;
	width: 187px;
	overflow: hidden;
	/*overflow: ellipsis ;*/
}

#videos li:hover .title {
	display: block;
}

#spacer {
	width: 780px;
	height: 1em;
}

#text {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	width: 837px;
	text-align: left;
	color: black;
	background: grey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	-moz-box-shadow:1px 1px 10px #ccc;
	-webkit-box-shadow:1px 1px 10px #ccc;
	box-shadow:1px 1px 10px #ccc;	
	float: center;
}

#login {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	text-align: left;
	color: black;
	width: 300px;
	background: grey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	-moz-box-shadow:1px 1px 10px #ccc;
	-webkit-box-shadow:1px 1px 10px #ccc;
	box-shadow:1px 1px 10px #ccc;
}

#intern {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	text-align: left;
	color: black;
	width: 837px;
	background: grey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	-moz-box-shadow:1px 1px 10px #ccc;
	-webkit-box-shadow:1px 1px 10px #ccc;
	box-shadow:1px 1px 10px #ccc;
}

#edits img {
	height: 50px;
}

#edits  li{
	height:50px;
	list-style: none;
	margin-bottom: 5px;
	padding: 5px;
}

#edits li a {
	text-decoration: none;
}

#edits li:hover {
	background: grey;
	color: black;
}

.sym {
	margin-bottom: -3px;
	margin-left: 2px;
	margin-right: 2px;
}

.textfield {
	width: 400px;
}

a img {
	border: none;
}

#videop {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	float: center;
}

#bottom {
	padding-top: 5px;
	position: relative;
	bottom: 0;
	width: 100%;
	/*background: #1c1c1c;*/
	height: 100%;
	float: left;
}

#pagination {
	text-align: center;
}

#footer {
	text-align: center;
	background: #cccccc;
	font-size: 14px;
	right: 0;
	color: #1C1C1C;
	padding: 3px;
	padding-bottom: 5px;
}

#footer a {
	color: #1C1C1C;
}

#footer a:hover{
	color: #2C2C2C;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

.center {
	float: left;
	text-align: center;
}